		<br/>
		<br/>
			<div class="well" >
			<center><?php echo $this->Html->image('cakeweb_Logo.png'); ?></center>
			<center><h3>Cake Web : Admin Console</h3></center>
			<br/>
			
			<?php echo $this->Form->create('Admin'); ?>
			
        		<?php 
        			echo $this->Session->flash('auth');
					echo $this->Session->flash('bad'); 
					echo $this->Session->flash('good'); 
        		?>
		        <?php echo $this->Form->input('username',array(
					'class'=>"form-control",
					'placeholder'=>'Username',
					'label'=>false,
					
					
				));
		        echo "<br/>".$this->Form->input('password',array(
					'placeholder'=>'Password',
					'class'=>'form-control',
					'label'=>false,
					
				));
				
		    ?>
		   <br/>
			 <br/>
		    <?php 
		    	echo $this->Form->input('Login',array('class'=>'btn btn-danger btn-block','type'=>'submit','label'=>false));
		    				
		    ?>
		  
			<?php echo $this->Form->end(); ?>
		</div>
		
		


